<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>管理画面</title>
  </head>
  <body>
    <header>受付一覧: 虎ノ門<%= link_to "ログアウト", logout_path, method: :delete %>
    </header>
      <table>
        <tbody>
          <tr>
            <th>受付時間</th>
            <th>氏名</th>
            <th>目的</th>
          </tr>
          <% @receptions.each do |reception| %>
          <tr>
            <td><%= reception.created_at.strftime('20%y-%m-%d %H:%M') %></td>
            <td><%= reception.name %></td>
            <td><%= reception.purpose %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @receptions %>
    <footer>
    </footer>
  </body>
</html>
